.wrap {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: none;
}

@media screen and (max-width: 996px) {
  .wrap {
    flex-direction: column;
    text-align: left;
  }

  .logo {
    display: block;
    width: 4rem;
    margin-right: auto;
  }

  .copyright {
    display: flex;
    gap: 10px;
    text-align: right;
  }
}